---
title: JustPark Styleguide
---
.container
  %h2 Buttons
  = partial "styleguide/buttons/button-styles"
  = partial "styleguide/buttons/button-sizes"
  = partial "styleguide/buttons/button-icons"
  = partial "styleguide/buttons/button-combinations"

.container
  %h2 Forms
  = partial "styleguide/forms/input-styles"
  = partial "styleguide/forms/input-sizes"
  = partial "styleguide/forms/input-icons"
  = partial "styleguide/forms/input-number"
  = partial "styleguide/forms/input-checkbox-radio"
  = partial "styleguide/forms/input-select"
  = partial "styleguide/forms/input-date-time"
    
.container
  %h2 Alerts
  = partial "styleguide/alerts/alerts"
  = partial "styleguide/alerts/alerts-dismissible"
  = partial "styleguide/alerts/alerts-content"

.container
  %h2 Progress Bars
  = partial "styleguide/progress/progress"

.container
  %h2 Tooltips
  = partial "styleguide/tooltips/tooltips"
  = partial "styleguide/tooltips/tooltips-styles"

.container
  %h2 Dropdowns
  = partial "styleguide/dropdowns/dropdowns"
