---
title: JustPark Styleguide
---
.container
  %h2 Buttons
  = partial "styleguide/buttons/button-styles"
  = partial "styleguide/buttons/button-sizes"
  = partial "styleguide/buttons/button-icons"
  = partial "styleguide/buttons/button-combinations"

.container
  %h2 Inputs
  = partial "styleguide/forms/inputs"
    




