---
title: JustPark Styleguide
---
.container
  %h2 Buttons
  = partial "styleguide/buttons/button-styles"
  = partial "styleguide/buttons/button-sizes"
  = partial "styleguide/buttons/button-icons"
  = partial "styleguide/buttons/button-combinations"

.container
  %h2 Tags
  = partial "styleguide/tags"

.container
  %h2 Labels
  = partial "styleguide/labels"

.container
  %h2 Forms
  = partial "styleguide/forms/input-styles"
  = partial "styleguide/forms/input-sizes"
  = partial "styleguide/forms/input-icons"
  = partial "styleguide/forms/input-number"
  = partial "styleguide/forms/input-checkbox-radio"
  = partial "styleguide/forms/input-select"
  = partial "styleguide/forms/input-date-time"
    
.container
  %h2 Alerts
  = partial "styleguide/alerts/alerts"
  = partial "styleguide/alerts/alerts-dismissible"
  = partial "styleguide/alerts/alerts-content"

.container
  %h2 Progress Bars
  = partial "styleguide/progress/progress"

.container
  %h2 Tooltips
  = partial "styleguide/tooltips/tooltips"
  = partial "styleguide/tooltips/tooltips-styles"

.container
  %h2 Dropdowns
  = partial "styleguide/dropdowns/dropdowns"

.container
  .row
    .col-md-6
      %h2 Tables
      = partial "styleguide/tables"

.container
  %h2 Markers
  = partial "styleguide/markers"

.container
  %h2 Modal
  = partial "styleguide/modals/modal"

.container
  %h2 Typography
  = partial "styleguide/typography"

.container
  %h2 Wells
  = partial "styleguide/wells"

.container
  %h2 Navigation
  .row
    .col-md-3
      = partial "styleguide/navigation/nav-stacked"
    .col-md-9
      .row.margin-bottom--20
        .col-md-4
          = partial "styleguide/buttons/button-group"
        .col-md-4
          = partial "styleguide/navigation/nav-pagination"
        .col-md-4
          = partial "styleguide/navigation/nav-breadcrumbs"
      .row
        .col-md-12
          = partial "styleguide/navigation/nav-bar"
